/* ------------------------------------------------------------------------------------------
* pre / code
        * ------------------------------------------------------------------------------------------ */
pre {
    padding: 10px;
    border-radius: 6px;
    position: relative;
    margin: 10px 0 20px 0;
}

pre code {
    display: block;
    font-size: 14px;
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    font-weight: 400;
    word-wrap: normal;
    white-space: pre;
}

pre.language-json {
    overflow: auto;
}

pre.language-html {
    margin: 40px 0 20px 0;
}

pre.language-html:before {
    content: attr(data-type);
    position: absolute;
    top: -30px;
    left: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: #3387CC !important;
    color: #ffffff;
}

pre.language-html[data-type="get"]:before {
    background-color: green;
}

pre.language-html[data-type="put"]:before {
    background-color: #e5c500;
}

pre.language-html[data-type="post"]:before {
    background-color: #4070ec;
}

pre.language-html[data-type="delete"]:before {
    background-color: #ed0039;
}

pre.language-api .str {
    color: #ffffff;
}

pre.language-api .pln,
pre.language-api .pun {
    color: #65B042;
}

pre code {
    display: block;
    font-size: 14px;
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    word-wrap: normal;
    white-space: pre;
}

pre code .repo {
    color: rgb(51, 122, 183);
    font-weight: bold;
}

pre.prettyprint {
    width: 100% !important;
    background-color: #3F3F3F !important;
}

/* ------------------------------------------------------------------------------------------
 * forkme
 * ------------------------------------------------------------------------------------------ */

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}